Package: removerecents
Name: Remove Recents
Depends: mobilesubstrate
Version: 2.0
Architecture: iphoneos-arm
Description: Remove recently launched apps from the switcher. 
Maintainer: EvilPenguin|
Author: EvilPenguin|
Section: Tweaks